# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# IntelliJ
.idea/
sage-frontend.iml

# Operating System
.DS_Store
*~

# Web Storm
.idea*

# AWS config
aws-config.json
s1_.sb2
s1_ - Copy/2.png
s1_ - Copy/project.json
s1_ - Copy.zip
s1_ - Copy/0.png
s1_ - Copy/0.wav
s1_ - Copy/1.png

# Version.txt (BuildID and timestamp)
version.txt

# gulp package artifacts
_package/*
Package.zip
.gradle/
