<div class="container">

      <div class="starter-template">
        <h1>Assessment Results</h1>
        <p class="lead">The following rows indicate current assessment evaluation<br> Once all assessments are passed, then you are finished!</p>
        
        <table class="table table-striped">
            <tr ng-repeat="result in results" ng-class="(result.pass==true) ? 'success': 'danger'">
            <td ng-if="result.pass==true"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>    
            <td ng-if="result.pass!=true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            <td>{{result.description}}</td>
            <td>
                <div ng-repeat="action in result.actions">
                    <p ng-if="action.type=='action_say'">
                        {{action.command}}
                    </p>
                </div>
            </td>
            </tr>
        </table>
      </div>

</div><!-- /.container -->