<configuration>
  <system.webServer>

    <!-- indicates that the server.js file is a node.js application
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode
        node_env="%node_env%"
        asyncCompletionThreadCount="0"
        nodeProcessCountPerApplication="1"
        interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
        maxConcurrentRequestsPerProcess="1024"
        maxNamedPipeConnectionRetry="100"
        namedPipeConnectionRetryDelay="250"
        maxNamedPipeConnectionPoolSize="512"
        maxNamedPipePooledConnectionAge="30000"
        initialRequestBufferSize="4096"
        maxRequestBufferSize="65536"
        uncFileChangesPollingInterval="5000"
        gracefulShutdownTimeout="60000"
        logDirectory="iisnode"
        debuggingEnabled="true"
        debuggerExtensionDll="iisnode-inspector.dll"
        debugHeaderEnabled="false"
        debuggerPathSegment="debug"
        debuggerPortRange="5058-6058"
        maxLogFileSizeInKB="128"
        maxTotalLogFileSizeInKB="1024"
        maxLogFiles="20"
        loggingEnabled="true"
        devErrorsEnabled="true"
        flushResponse="false"
        watchedFiles="*.js;iisnode.yml;web.config"
        enableXFF="false"
        promoteServerVars=""
        configOverrides="iisnode.yml"
    />
    <defaultDocument>
        <files>
            <add value="server.js" />
        </files>
    </defaultDocument>
    <rewrite>
        <rules>
            <rule name="serverjs">
                <match url="/*" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" pattern="version\.txt" negate="true" />
                </conditions>
                <action type="Rewrite" url="/server.js" logRewrittenUrl="true" />
            </rule>
        </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />

  </system.webServer>
</configuration>