<div class="c1">
    <div><img src="/public/images/logo.png" height="60">
    </div>
    <div class="head1">
        <h2>Mission</h2>
    </div>

<div class="starter-template ng-scope">
   <h2>{{lp.pathName}}</h2>
   <div class="sub-heading"> {{lp.pathDescription}} </div>

   <h3> List of Quests in this Mission</h3>
    <ul>
            <li ng-repeat="course in lp.courses"
            ng-click='changeView("/courses/"+ course.courseID +"/"+ sid)'
            > {{course.courseName}} </li>
    </ul>



</div>



