<div class="starter-template ng-scope">
	<div class="col-xs-offset-10">
		<input type="button"
		ng-if="enrollButtonToShow"
		ng-click = "onClickEnrollButton()"
		class="btn btn-success" value="Enroll" >
	</div>
    <h2>{{myCourse.courseName}}</h2>
    	<div class="sub-heading">
    		{{myCourse.desc}}
    	</div>

    <h3> Statistics </h3>
		<div ng-if="!enrollButtonToShow">
			<div  class="progress">
		        <div>
		        class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{numberOfAssignmentsDone}}%;">
		            {{numberOfAssignmentsDone}}%
		        </div>

		    </div>
		    <highchart id="chart1" config="chartConfig"></highchart>

		</div>



	    <div class="sub-heading">

	    	This is where all the statistics for the student for this particular course will come.
	    </div>
	<h3>Resources</h3>

	<ul>
		<li ng-repeat = "resource in myCourse.resources">
			<a href="{{resource.link}}" target="_blank"> {{resource.resourceName}} </a>
		</li>

	</ul>
	<h3>Games</h3>

	<ul>
		<li

		 	ng-repeat = "assignment in myCourse.assignments">
			<span class = 'assignment-name-single-course' ng-click='changeView("/courses/"+ myCourse.courseID +"/assessment/"+ assignment.assignmentID + "/"+sid)'>{{assignment.gameName || assignment.assignmentID || assignment.assigmentID}}</span>
		</li>

	</ul>

	<ul>
<!--		<li

		 	ng-repeat = "assignment in myCourse.assignments">
			<span class = 'assignment-name-single-course' ng-click='changeView("/courses/"+ course.courseID +"/assessment/"+ assignment.assignmentID + "/"+sid)'>{{assignment.gameName}}</span>
		</li>-->

	</ul>
	<h3> Leaderboard </h3>
	The following students are leading in this course.
	<table class="table table-striped">
		<thead>
	      <tr>
	        <th>Name</th>
	        <th>Points</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat = "singleStudent in leaderboard">
	    		<td> {{singleStudent.fullname}} </td>
	    		<td> {{singleStudent.points}} </td>

	    	</tr>
	    </tbody>

	</table>

</div>
