<div class="starter-template ng-scope">
    <div class="col-md-12">
        <h3> Featured Courses </h3>
        <div ng-repeat="course in featuredCourses" >
            <div 
            ng-click='changeView("/courses/"+ course.courseID +"/"+ sid)'
            class="course-box"> <h3>{{course.courseName}} </h3> </div>
        </div>
        <div class="clearfix"> </div>


        <h3> Recent Courses </h3>
        <div ng-repeat="course in recentCourses" >
            <div
            ng-click='changeView("/courses/"+ course.courseID +"/"+ sid)'
            class="course-box"> <h3> {{course.courseName}} </h3> </div>
        </div>
        <div class="clearfix"> </div>
        
        <h3> Metrics Overview </h3>
        <div>Some metrics will be displayed here.</div>

        <h3> Badges Earned </h3>
        <div>Badges earned will be displayed here.</div>
        
    </div>
</div>



