<div class="classes">

    <md-select 
        ng-model="model.selectedClassId" 
        style="z-index: 10000; margin-top: 15px; margin-left: 15px;"
        class="float-right"
        placeholder="Select Class"
        ng-change="classSelect()">
        <md-option value="addClass">Add Class</md-option>
        <md-option ng-repeat="class in model.classes" ng-value="class.id">
            {{class.name}}
          </md-option>
    </md-select>

    <md-content class="nav-bar">

        <md-tabs class="md-no-animation">
            <md-tab id="tabRoster">
                <md-tab-label>Roster</md-tab-label>
                <md-tab-body>
                    <div class="classes-roster">
                        <div ng-if="model.selectedClass && model.selectedClass.roster.length > 0">
                            Roster Not Implemented
                        </div>
                        <div class="classes-roster-empty" ng-if="!model.selectedClass || model.selectedClass.roster.length == 0">
                            No roster has been assigned to this class.
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab id="tabMissions">
                <md-tab-label>Missions</md-tab-label>
                <md-tab-body>
                    <div class="classes-missions">
                        <div ng-if="model.selectedClass && model.selectedClass.missions.length > 0">
                            Missions Not Implemented
                        </div>
                        <div class="classes-missions-empty" ng-if="!model.selectedClass || model.selectedClass.missions.length == 0">
                            No missions have been added to this class.
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab id="tabMetrics">
                <md-tab-label>Metrics</md-tab-label>
                <md-tab-body>
                    <div class="classes-metrics">
                        Metrics are unavailable for this class
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
      