<div class="classes">

    <md-content class="nav-bar">
        <md-button 
            style="z-index: 10000;"
            class="md-raised md-primary md-scale float-right"
            ng-click="createClassPrompt($event)">Add Class</md-button>
        
        <md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('page1')" name="page1">
                Roster
            </md-nav-item>
            <md-nav-item md-nav-click="goto('page2')" name="page2">
                Assignments
            </md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" name="page3">
                Statistics
            </md-nav-item>
        </md-nav-bar>

        <div class="ext-content">
        External content for `<span>{{currentNavItem}}</span>`.
        </div>
    </md-content>
</div>
      