<div class="row">
    <div class="container" ng-cloak>
        <div class="center-form">
            <form ng-controller="StudentAccountController as up" name="up.upload_form">
                <div class="row" ng-show="up.file">
                    <div>
                        <img class="thumbnail" style="max-width: 320px" ngf-thumbnail="up.file"/>
                    </div>
                </div>
                <div class="row" ng-hide="up.file">
                    <i class="fa fa-picture-o fa-6" aria-hidden="true"></i>
                </div>
                <span class="btn btn-default btn-file">
                Select
                    <input
                            type="file"
                            ngf-select
                            ng-model="up.file"
                            name="file"
                            ngf-pattern="'image/*'"
                            accept="image/*"
                            ngf-max-size="20MB"
                            ngf-resize="{width: 600}"
                    />
            </span>
                <button class="btn btn-success" type="submit" ng-click="up.submit()" ng-disabled="!up.file">Upload</button>
                <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                <i ng-show="up.upload_form.file.$error.maxSize">File too large
                    {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                <p>{{up.progress}}</p>
            </form>
        </div>
    </div>
</div>


