.c1 {
	max-width:2000px;
	margin:3px;
	text-align:center;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color:#FAFAFA;
}
.head1 {
	-webkit-border-radius:3px 3px 3px 3px;
	-moz-border-radius:6px 6px 0px 0px;
	border-radius:6px 6px 6px 6px;
	background-color:#428bca;
	color:#FAFAFA;
}
.course-box {

	float: left;
	min-width: 200px;

	margin-right: 20px;
	height: 150px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	background: #fff;
  	border-radius: 1px;
  	position: relative;

}

.course-box:hover {
  box-shadow: 14px 14px 14px 14px rgba(0,0,0,0.25), 10px 10px 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}
.clearfix {
	clear: left;
}