<h2 class="sub-header">{{quest.courseName}}</h2>
<h3 class="sub-header">Quest Details</h3>
<div class="panel panel-default">
    Name:</br><input type="text" name="coursename" ng-model="course.courseName" ng-required="true" /><br />Description:</br>
    <textarea type="text" name="desc" id="desc" ng-model="course.desc" /><br />
    <button ng-click="updateQuest()">Update Quest Details</button>
</div>


<br>
<h3 class="sub-header">Games and Objectives in this Quest</h3>
<div class="panel panel-default">
    <table style="width:50%">
        <tr ng-repeat="each in assign" >
            <td><a href="" class="close-thik" ng-click="removeAssignment(assign ,each.gameID);">&#10006</a>&nbsp
                <select ng-model="orderSt[each.assigmentID]">
                    <option ng-repeat="x in orderSt" ng-value="{{x}}">{{x}}</option>
                </select>
            </td>
            <td><a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.gameOrder}}/id/{{each.gameID}}/design">
                Game {{each.gameName}}

                <span class="sr-only"></span>
            </a></td>
            <td><a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.gameOrder}}/id/{{each.gameID}}/VAE">
                Game {{each.gameName}}

                <span class="sr-only"></span>
            </a></td>
        </tr>
    </table>
    <button ng-click="updateGame()">Create new Game</button>

    <a href="#/coursePage/{{sid}}/course/{{cid}}/createAssignment"><h4>Create new Game</h4></a>

</div>
