<form novalidate class="simple-form" name="assignmentform" >
  <div style="width: 70%;margin-left: auto;margin-right: auto;">
    <md-content class="md-no-momentum">
      <div>
        <img src="/public/images/logo.png" height="60">
      </div>
      <md-toolbar class="md-toolbar-tools">
         <h2>Update Instruction</h2>
      </md-toolbar>

      <!--<input type="text" name="name" placeholder="Game Name" ng-model="assgn.name" ng-required="true" /><br />-->

      <md-card>
        <md-card-content>
          <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Instruction Name</label>
              <input ng-model="instr.name" type="text" ng-required="true" ng-readonly="true">
          </md-input-container>
        </md-card-content>
     </md-card>
  
  <div style="width: 10%;margin-left: auto;margin-right: auto; margin-top:5px">
    <md-button md-no-ink class="md-raised md-primary" ng-click="addStep()">More Step...</md-button>
    <md-button md-no-ink class="md-raised md-primary" ng-click="addSpecificStep($event)()">Add Specific Step ...</md-button>
  </div>

  <md-toolbar class="md-menu-toolbar" ng-repeat="step in steps" style="margin-left: auto;margin-right: auto; margin-top: 5px">
      <md-content>
        <md-card>
          <md-card-content>
            <!--<h1 class="md-toolbar-tools">Step {{$index+1}}</h1>-->
            <h1 class="md-toolbar-tools">Step {{$index+1}}<md-button style="position:absolute;right:0px;" ng-click="deleteStep($index+1)" > <i class="material-icons">delete</i></md-button>
            </h1>
            <md-list>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <md-input-container class="md-block">
                    <label>Heading</label>
                    <input ng-model="step.heading" type="text" >
                  </md-input-container>

                  <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="step.description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                    <!--<input ng-model="step.description" type="text" >-->
                  </md-input-container>
                  <h1>
                    <img ng-src="{{step.img}}" id= "img{{$index}}" class="img-rounded" height="300" width="300">
                    <input type='file' id="input-file-id{{$index}}" class="ng-hide" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple/>
                    </br>
                    <label for="input-file-id{{$index}}" class="md-button md-raised md-primary" style="margin-left: 0px">Choose Files</label>
                  </h1>
                </div>
              </md-list-item>
            </md-list>
          <md-card-content>
        </md-card>
      </md-content>
  </md-toolbar>


  <!--<md-toolbar class="md-menu-toolbar" style="margin-left: auto;margin-right: auto; margin-top: 5px">
      <md-content>
        <md-card>
          <md-card-content>
            <h1 class="md-toolbar-tools">Preview Icon</h1>
            <md-list>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h1>
                    <img ng-src="/public/images/logo.png" id="previewImg" class="img-rounded" height="300" width="300" >
                    <input type='file' id="input-file-preview" class="ng-hide" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple/>
                    </br>
                    <label for="input-file-preview" class="md-button md-raised md-primary" style="margin-left: 0px">Choose Files</label>
                  </h1>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </md-content>
  </md-toolbar>-->

  <div style="width: 45%;margin-left: auto;margin-right: auto; margin-top:5px">
    <md-button md-no-ink class="md-raised md-primary" ng-click="preview()">Preview Instruction</md-button>
    <md-button md-no-ink class="md-raised md-primary" ng-click="update()">Update</md-button>
  </div>

  <div custom-draggable ng-hide="initHide" style=" background-color: rgb(230, 227, 227);  z-index: 1000; width: 750px;position: absolute;left: 100px; top: 150px;">
    <md-card style="background-color: rgb(230, 227, 227);width: 730px;">
      <md-card-content>
        <md-stepper id="preview-step">        
              <md-step ng-repeat="step in steps">
                  <md-step-body>
                    <h2 class="md-title">{{step.heading}}</h2>
                    <textarea style="background-color: rgb(230, 227, 227); resize: none; border:none;" disabled>{{step.description}} </textarea> 
                    <img ng-src={{step.img}} id="previewImg" class="img-rounded" height="500" width="500" >
                  </md-step-body>
                  <md-step-actions>
                      <md-button class="md-primary md-raised" ng-click="nextStep();" ng-show="{{$index}} != steps.length-1">Continue</md-button>
                      <md-button class="md-primary md-raised" ng-click="previousStep();" ng-show="{{$index}} != 0">Back</md-button>
                      <md-button class="md-primary md-raised" ng-click="closePreviewArea()">Close</md-butoon>
                  </md-step-actions>
              </md-step>
        </md-stepper>
      </md-card-content>
    </md-card>
  </div>
</form>


   
  

