<div class="c1">
    <div><img src="/public/images/logo.png" height="60">
    </div>
    <div class="head1">
        <h2>Libraries</h2>
    </div>

<div>


            <a href="#/librarires/{{sid}}/missions">
                <h4>Mission Library</h4>
            </a>


            <a href="#/librarires/{{sid}}/quests">
                <h4>Quest Library</h4>
            </a>

            <a href="#/librarires/{{sid}}/games">
                <h4>Game Library</h4>
            </a>

            <a href="#/librarires/{{sid}}/badges">
                <h4>Badges Library</h4>
            </a>

</div>