<h2 class="sub-header">Courses Page</h2>
<h3>Missions  : </h3>

<h4>Missions Created: </h4>
<div>
    <ul>
        <li ng-repeat="LP in LPs" >
            <a href="#/coursePage/{{sid}}/LP/{{LP.LPID}}"><h4>{{LP.LPName}}</h4>
                <!-- <span class="sr-only"></span> -->
            </a>
            <p>Description : {{LP.desc}}</p>
            
        </li>
    </ul>
    <a href="#/coursePage/{{sid}}/createLP"><h6>&nbsp;Create new Mission</h6></a>

</div>
<hr>

<h3>Quests</h3>

<h4>Existing Quests</h4>
<div>
    <ul>
        <li ng-repeat="course in coursesBy" >
            <a href="#/coursePage/{{sid}}/eachcourse/{{course.courseID}}"><h4>{{course.courseName}}</h4>
                <!-- <span class="sr-only"></span> -->
            </a>
            <p>Description : {{course.desc}}</p>
        </li>
    </ul>


    <a href="#/coursePage/{{sid}}/createcourse"><h6>&nbsp;Create new Quest</h6></a>

</div>