<div class="c1">
    <div><img src="/public/images/logo.png" height="60">
    </div>
    <div class="head1">
        <div>
            <h3>Games Library</h3>
        </div>
    </div>
    <div>
        <h2 class="sub-header">Mission : {{LP.LPName}}</h2>
<h4>{{LP.desc}} </h4>
<h5>Backstory : {{LP.features}}</h5>
<form novalidate class="simple-form" name="QuestOrderform">
<div>
<p>Quests in the Mission:</p>
    <ul>
        <li ng-repeat="each_course in LPcourses" >
            <a href="#/coursePage/{{sid}}/eachcourse/{{each_course.courseID}}"><h4>{{each_course.courseName}}</h4>
                <!-- <span class="sr-only"></span> -->
            </a>
            Quest Learning Order :
            <select  ng-model="orderSt[each_course.courseID]"> <!-- ng-change="updateOrder('{{each_course.courseID}}')" -->
                <option ng-repeat="x in order" ng-value="{{x}}">{{x}}</option>
                 <!-- ng-selected="{{x == each_course.order}}" -->
            </select>
            <p>Description : {{each_course.desc}}</p>
            
        </li>
    </ul>
</div>

    <button ng-click="updateOrder()" value="Update Order" >Update Order</button>
    

</form>
<div>
<p>Add from following Quests in the Mission:</p>
    <ul>
        <li ng-repeat="each_course in coursesBy" >
            <a ng-click="addCourse(each_course.courseID)" ><h4>{{each_course.courseName}}</h4>
                <!-- <span class="sr-only"></span> -->
            </a>
                       
        </li>
    </ul>
</div>
<pre>user = {{orderSt}}</pre>
</div>
