<div class="c1">
    <div><img src="/public/images/logo.png" height="60">
    </div>
    <div class="head1">
        <div>
            <h2>Games Library</h2>
        </div>
    </div>
    <div class="sub-header">
        <h2 >Mission: {{LP.LPName}}</h2>
        <h4>{{LP.desc}} </h4>
        <h5>Backstory: {{LP.features}}</h5>
    </div>
<form novalidate class="simple-form" name="QuestOrderform">
<div>
<h2>Quests in the Mission:</h2>
    <ul>
        <span ng-repeat="each_course in LPcourses" >
            <a href="#/coursePage/{{sid}}/eachcourse/{{each_course.courseID}}"><h4>{{each_course.courseName}}</h4>
                <!-- <span class="sr-only"></span> -->
            </a>
            Quest Learning Order:
            <select  ng-model="orderSt[each_course.courseID]"> <!-- ng-change="updateOrder('{{each_course.courseID}}')" -->
                <option ng-repeat="x in order" ng-value="{{x}}">{{x}}</option>
                 <!-- ng-selected="{{x == each_course.order}}" -->
            </select>
            <p>Description: {{each_course.desc}}</p>
            <br/>
        </span>
    </ul>
</div>

    <button ng-click="updateOrder()" value="Update Order" >Update Order</button>
    

</form>
<div>
<h2>Add from following Quests in the Mission:</h2>
    <ul>
        <span ng-repeat="each_course in coursesBy" >
            <!-- only display courses not currently in Mission to avoid display error  -->
            <p ng-if="!questNames.includes(each_course.courseName)">
                {{each_course.courseName}}
                <span>
                    <a ng-click="addCourse(each_course.courseID)">
                        Add
                    </a>
                </span>
            </p>    
        </span>
    </ul>
</div>
<!-- <pre>user = {{orderSt}}</pre> -->
</div>
