<md-content flex>

    <md-content flex>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-select 
                    class="classes-select"
                    flex
                    ng-model="model.selectedClassId" 
                    placeholder="Select Class"
                    ng-change="classSelect()"
                    multiple="false">
                    <!-- <md-option value="addClass">Add Class</md-option> -->
                    <md-option ng-repeat="class in model.classes" ng-value="class.id">
                        {{class.name}}
                    </md-option>
                    <md-option value="addClass">Add Class</md-option>
                </md-select>
                <md-button class="md-raised" ng-click="addClassClicked()">
                    Add Class
                </md-button>
                <md-button class="md-raised" aria-label="Edit Class" ng-disabled="!model.selectedClassId" ng-click="editClassClicked()">
                   Edit Class
                </md-button>
                <md-button class="md-raised" aria-label="Delete Class" ng-disabled="!model.selectedClassId" ng-click="deleteClassClicked()">
                   Delete Class
                </md-button>
            </div>
        </md-toolbar>
    </md-content>

    <md-content class="nav-bar" flex>

        <md-tabs class="md-no-animation classes-tabs" flex>
            <md-tab id="tabRoster">
                <md-tab-label>Roster</md-tab-label>
                <md-tab-body flex>
                    <md-content flex class="classes-roster">
                        <md-toolbar>
                            <div class="md-toolbar-tools classes-toolbar">
                                <md-button  ng-click="deleteRosterClicked()"
                                ng-disabled="!model.deleteRosterEnabled" class="md-raised">
                                    Delete
                                </md-button>
                                <span flex></span>
                                <md-button class="md-raised" ng-click="addRosterClicked()">
                                    Add
                                </md-button>
                                <md-button class="md-raised" ng-click="importRosterClicked()">
                                    Import
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content flex>
                            <md-card>
                                <mdt-table table-card="{title: 'Roster'}"
                                    animate-sort-icon="true"
                                    ng-if="model.selectedClass && model.selectedClass.roster.length > 0"
                                    selectable-rows="true" selected-row-callback="rosterSelectionChanged(rows)"
                                    mdt-row="{
                                        data: model.selectedClass.roster,
                                        'table-row-id-key': 'email',
                                        'column-keys': [
                                            'name',
                                            'email',
                                        ]
                                        }"
                                    sortable-columns="true" animate-sort-icon="true"
                                    paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
                                    <mdt-header-row>
                                        <mdt-column>
                                            <md-checkbox aria-label="Select All" />
                                        </mdt-column>
                                        <mdt-column>Student Name</mdt-column>
                                        <mdt-column>Email</mdt-column>
                                    </mdt-header-row>
                                </mdt-table>
                                <md-card-content ng-if="!model.selectedClass || model.selectedClass.roster.length == 0">
                                    <div class="classes-roster-empty">
                                        No roster has been assigned to this class.
                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tabMissions">
                <md-tab-label>Missions</md-tab-label>
                <md-tab-body>
                    <div class="classes-missions">
                        <md-toolbar>
                            <div class="md-toolbar-tools classes-toolbar">
                                <md-button class="md-raised" ng-click="deleteMissionsClicked()"
                                    ng-disabled="!model.deleteMissionsEnabled">
                                    Delete
                                </md-button>
                                <span flex></span>
                                <md-button class="md-raised" ng-click="addMissionToClass()">
                                    Add
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content flex>
                            <md-card>
                                <mdt-table table-card="{title: 'Missions'}"
                                    animate-sort-icon="true"
                                    ng-if="model.selectedClass && model.selectedClass.missions.length > 0"
                                    selectable-rows="true" selected-row-callback="missionSelectionChanged(rows)"
                                    mdt-row="{
                                        data: model.selectedClass.missions,
                                        'table-row-id-key': 'id',
                                        'column-keys': [
                                            'name',
                                            'description',
                                        ]
                                        }"
                                    sortable-columns="true" animate-sort-icon="true"
                                    paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
                                    <mdt-header-row>
                                        <mdt-column>Mission Name</mdt-column>
                                        <mdt-column>Description</mdt-column>
                                    </mdt-header-row>
                                </mdt-table>
                                <md-card-content  ng-if="!model.selectedClass || model.selectedClass.missions.length == 0">
                                    <div class="classes-missions-empty">
                                        No missions have been added to this class.
                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab id="tabMetrics">
                <md-tab-label>Metrics</md-tab-label>
                <md-tab-body>
                    <div class="classes-metrics">
                        


                        <div class="c1">
                            <div><img src="/public/images/logo.png" height="60">
                            </div>
                            <div class="head1">
                                <div>
                                    <h2>Metrics</h2>
                                </div>
                            </div>
                        
                        
                            <div class="container" style="width:100%">
                                <div class="row">
                                    <div class="panel panel-default text-center" >
                                        <div class="panel-heading text-center" >
                        <!-- 59f8c6fdc1bfb23c4ced8e20 -->
                        
                                            <a href="#/metrics/students/{{sid}}"><h4> Spider Graph for Enrolled Students </h4> </a>
                                        </div>
                                    </div>
                        
                                    <div class="panel panel-default text-center" >
                                        <div class="panel-heading text-center" >
                        
                                            <a href="#/metrics/missions/{{sid}}"><h4> Spider Graph for Missions </h4> </a>
                                        </div>
                                    </div>
                        
                        
                                </div>
                        
                            </div>
                        
                            <!--<div class="container" style="width:100%" >-->
                            <!--<div class="row">-->
                            <!--<div ng-repeat="chart in charts">-->
                            <!--{{chart}}}-->
                            <!--<div class="spider-graph">-->
                            <!--<highchart id="chart" config="chart"></highchart>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        
                        </div>
                        
                        
                        <div class="spider-graph">
                            <highchart id="chart" config="chart"></highchart>
                        </div>
                        
                        <br>
                        
                        <!--<div class="spider-graph">-->
                        <!--<highchart id="chart2" config="chart_s"></highchart>-->
                        <!--</div>-->
                        </div>




                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
      