<form novalidate class="simple-form" name="assignmentform" >
  <div style="width: 50%;margin-left: auto;margin-right: auto;">
    <md-content class="md-no-momentum">
      <div>
        <img src="/public/images/logo.png" height="60">
      </div>
      <!--<div class="head1">
        <h2>Game Creation</h2>
      </div>-->

      <md-toolbar class="md-toolbar-tools">
         <h2>Game Creation</h2>
      </md-toolbar>

      <!--<input type="text" name="name" placeholder="Game Name" ng-model="assgn.name" ng-required="true" /><br />-->

      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Game Name</label>
        <input ng-model="assgn.name" type="text" ng-required="true">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Game Order Number</label>
        <md-select ng-model="assgn.order">
          <md-option ng-repeat="order in orders" value="{{order.n}}">
            {{order.n}}
          </md-option>
        </md-select>
      </md-input-container>

      <!--Game Order Number <select ng-model="assgn.order" >
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
          </select>
          </br></br>-->
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Game Type</label>
        <input ng-model="assgn.type" type="text" ng-required="true">
      </md-input-container>

      <!--<input type="text" name="name" placeholder="Game Type" ng-model="assgn.type" ng-required="true" /><br />-->

      <p>Associate Game Objectives</p>
      <ul>
          <li ng-repeat="each_course in coursesBy" >
              <a ng-click="addCourse(each_course.courseID)" ><h4>{{each_course.courseName}}</h4>
                   <span class="sr-only"></span>
              </a>
          </li>
      </ul>

      <!--
      <input type="text" name="order" placeholder="Game Order No" ng-model="assgn.order" ng-required="true" /><br />
      
      </br></br>-->


      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Instruction Name</label>
        <input ng-model="instr.name" type="text" ng-required="true">
      </md-input-container>
      
      <!--<input type="text" name="name" placeholder="Instruction Name" ng-model="instr.name" ng-required="true" /></br>
      </br>-->
    </md-content>
  </div>
  
  <div style="width: 50%;margin-left: auto;margin-right: auto; margin-top: 30px">
    <md-button md-no-ink class="md-raised md-primary" ng-click="addStep()">More Step...</md-button>
  </div>

  <md-toolbar class="md-menu-toolbar" ng-repeat="step in steps" style="width: 50%;margin-left: auto;margin-right: auto; margin-top: 30px">
      <md-content>
        <h1 class="md-toolbar-tools">Step {{$index+1}}</h1>
        <md-list>
          <md-list-item class="md-3-line">
            <div class="md-list-item-text">
              <md-input-container class="md-block">
                <label>Heading</label>
                <input ng-model="step.heading" type="text" >
              </md-input-container>

              <md-input-container class="md-block">
                <label>Description</label>
                <input ng-model="step.description" type="text" >
              </md-input-container>
              <h1>
                <img src="/public/images/logo.png" np-model="step.img" id= "img{{$index+1}}" class="img-rounded" height="100" width="100">
                <input type='file' id="input-file-id{{$index+1}}" class="ng-hide" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple/>
                </br>
                <label for="input-file-id{{$index+1}}" class="md-button md-raised md-primary" style="margin-left: 0px">Choose Files</label>
              </h1>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
  </md-toolbar>


  <md-toolbar class="md-menu-toolbar" style="width: 50%;margin-left: auto;margin-right: auto; margin-top: 30px">
      <md-content>
        <h1 class="md-toolbar-tools">Preview Icon</h1>
        <md-list>
          <md-list-item class="md-3-line">
            <div class="md-list-item-text">
              <h1>
                <img src="/public/images/logo.png" id="previewImg" class="img-rounded" height="100" width="100" >
                <input type='file' id="input-file-preview" class="ng-hide" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple/>
                </br>
                <label for="input-file-preview" class="md-button md-raised md-primary" style="margin-left: 0px">Choose Files</label>
              </h1>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
  </md-toolbar>

  <md-content style="width: 50%; margin-left: auto;margin-right: auto; margin-top: 30px">
    <p style="margin-left: 15px">Role: <span class="radioValue">{{ role.group }}</span> </p>
    <p style="margin-left: 15px">
      <md-radio-group ng-model="role.group" >
        <md-radio-button value="instructor" class="md-primary">Instructor</md-radio-button >

        <md-radio-button value="student" class="md-primary"> Student </md-radio-button>

      </md-radio-group>
    </p>
  </md-content>

  <div style="width: 50%;margin-left: auto;margin-right: auto; margin-top: 30px">
    <md-button md-no-ink class="md-raised md-primary" ng-click="designGame()">Design Game</md-button>
    <md-button md-no-ink class="md-raised md-primary" ng-click="design()">Design Objective</md-button>
    <md-button md-no-ink class="md-raised md-primary" ng-click="preview()">Preview Instruction</md-button>
    <md-button md-no-ink class="md-raised md-primary" ng-click="submitForm()">Save</md-button>
  </div>  



  <!--  <div class="blank"></div>
    <div class="previewInstr" style="background-color: lightblue;"></div>
    <!--<button class="btn btn-lg" ng-click="reset()" value="Reset" >Reset</button>-->
  <!--  <button class="btn btn-lg" ng-click="designGame()" value="Design Game" >Design Game</button>
    <button class="btn btn-lg" ng-click="design()" value="Design Objective" >Design Objective</button>
    <button class="btn btn-lg" ng-click="preview()" value="Preview Instruction">Preview Instruction</button>
    <button class="btn btn-lg" ng-click="submitForm()" value="Save" >Save</button>
    <div class="blank"></div>
  </div>-->
</form>


   
  

