<form novalidate class="simple-form" name="assignmentform" >
<div class="c1">
    <div class="head1">
      <h2>Assignment Creation</h2>
    </div>
    <input type="text" name="order" placeholder="Assignment Order No" ng-model="assgn.order" ng-required="true" /><br />
   
    
    <button ng-click="reset()" value="Reset" >Reset</button>
    <button ng-click="design()" value="Design Assessment" >Design Assessment</button>
    <button ng-click="submitForm()" value="Save" >Save</button>
    
  </div>
</form>


   
  

