<div class="c1">
    <div><img src="/public/images/logo.png" height="60">
    </div>
    <div class="head1">
        <h2>Quest Management</h2>
    </div>
    <!--<h2 class="sub-header">Quest: {{course.courseName}}</h2>-->
    <input type="text" name="coursename" ng-model="course.courseName" ng-required="true" /><br />
    Quest Description<br/>
    <textarea type="text" name="desc" id="desc" ng-model="course.desc" /><br />

<button class="btn btn-lg" ng-click="updateQuest()">Update Quest</button>
<hr/>
<h3 class="sub-header">Games and Objectives in this Quest</h3>
<div class="panel panel-default">
    <table style="width:100%" class="table table-striped">
        <tr>
            <th>Order</th><th>Game Description</th><th>Design</th><th>Objective</th><th>Delete</th>
        </tr>
        <tr ng-repeat="each in assign" >
            <td>
                <select ng-model="orderSt[each.assignmentID]">
                    <option ng-repeat="x in orderSt" ng-value="{{x}}">{{x}}</option>
                </select>
            </td>
            <!--a href="file:///C:/Academia/SAGE/sage-editor-hookup_to_server/app/editor/index.html"-->
            <td>{{each.assignmentName}}</td>
            <td>    
                <a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/Game"><button class="btn btn-sm">Update</button></a>
            </td>
<!--            <td><a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/design"><button>Update</button>
            </a></td>-->
            <td>
                <a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/VAE"><button class="btn btn-sm">Update</button></a>
            </td>
            <td>
                <button class="btn" ng-click="removeAssignment(assign ,each.assignmentID);"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </td>
        </tr>
    </table>
    <div class="blank"></div>
    <a href="#/coursePage/{{sid}}/course/{{cid}}/createAssignment"><button class="btn btn-lg">Create New Game</button></a>
    <div class="blank"></div>
    <!--

    <a href="#/coursePage/{{sid}}/course/{{cid}}/createAssignment"><h4>Create new Game</h4></a>
-->

<!--<button ng-click="updateOrder()" value="Update Order" >Update Order</button>-->
</div>
</div>