<style>
    .aligner {
        margin-left: 0;
        margin-right:0;
    }
    /*#feedbackForm1 {*/
        /*color: steelblue;*/
        /*height: 5px;*/
        /*padding-top:0;*/
        /*padding-bottom: 0;*/
        /*margin-top: 0;*/
        /*margin-bottom:0;*/
        /*width: 20%;*/
        /*background-color: None;*/
        /*display: inline-block;*/
    /*}*/
    /*#feedbackForm2 {*/
        /*color: steelblue;*/
        /*height: 5px;*/
        /*padding-top:0;*/
        /*padding-bottom: 0;*/
        /*margin-top: 0;*/
        /*margin-bottom:0;*/
        /*width: 20%;*/
        /*background-color: None;*/
        /*display: inline-block;*/
    /*}*/
    /*#feedbackForm3 {*/
        /*color: steelblue;*/
        /*height: 5px;*/
        /*padding-top:0;*/
        /*padding-bottom: 0;*/
        /*margin-top: 0;*/
        /*margin-bottom:0;*/
        /*width: 20%;*/
        /*background-color: None;*/
        /*display: inline-block;*/
    /*}*/
    /*.textWithTitle {*/
        /*margin-left: 22%;*/
    /*}*/
    /*#resetButton{*/
        /*margin-top: 10px;*/
        /*height: 50px;*/
        /*width: 500px;*/
        /*float: left;*/
        /*color: white;*/
        /*margin-left: 5%;*/
    /*}*/
    /*#saveButton {*/
        /*margin-top: 10px;*/
        /*height: 50px;*/
        /*width: 500px;*/
        /*float: left;*/
        /*color: white;*/
        /*margin-left: 5%;*/
    /*}*/
</style>
<div class="c1">
    <nav class="navbar">
    <ul class="navbar-nav ml-auto navRight">

        <div class = "navLi"   ng-click="showFocusModal()">  Update Focus and Objective   </div>
        <div class = "navLi"  ng-click="">&nbsp;&nbsp;</div>
        <div class = "navLi"   ng-click="updateMoveFeedback()">   Update Move Feedback   </div>
        <div class = "navLi"  ng-click="">&nbsp;&nbsp;</div>
        <div class = "navLi"   ng-click="updateAssignmentFeedback()">  Update Assignment Feedback   </div>
    </ul>
    </nav>
    <div><img src="/public/images/logo.png" height="60">
    </div>
    <div class="head1">
        <h2>Quest Management</h2>
    </div>
    <!--<h2 class="sub-header">Quest: {{course.courseName}}</h2>-->
    <h4>Quest Name</h4>
    <input type="text" name="coursename" ng-model="course.courseName" ng-required="true" />
    <h4>Quest Description</h4>
    <textarea type="text" name="desc" id="desc" ng-model="course.desc" /><br />
    <md-button md-no-ink class="md-raised md-primary" ng-click="updateQuest()">Save</md-button>
    <div id="focusModal"  class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select focus for this quest <button style = "float: right" type="button" class="close" data-dismiss="modal" >&times;</button> </h4>
                </div>
                <div class="modal-body" >

                    <hr>
                    <!--<h4>Select focus from below</h4>-->
                    <h4>Select Game Level CT Concept</h4>
                    <br>
                    <form novalidate name="LPform">
                        <!--class="simple-form"-->
                        <div class="" >
                            <div class = "tableAttr">
                                <div style = "width: 50%; margin-left:0px; margin-right: 20%;padding-left: 0; float: left; text-align: left;">
                                    <div style="margin: auto; width: 100%; color: steelblue; text-align: left;">
                                        <treecontrol class="tree-classic"
                                                     tree-model="dataForParentTree"
                                                     options="treeOptions"
                                                     on-selection="showSelected(node, selected, selectedNodes)"
                                                     selected-node="selectedNodes">
                                            {{node.name}}
                                        </treecontrol><br>
                                    </div>
                                </div>


                                <!--<div class = "textDes"><strong> Instructor Id : </strong>{{iid}}</div>-->
                                <!--<div class = "textDes"><strong> Game Id : </strong>{{aid}}</div>-->
                                <!--<input id = "inputWrap2" type="text" ng-model="LP.desc"   />-->
                            </div>

                            <div class = "textWithTitle">
                                <div style = "width: 50%; margin-left:0px; margin-right: 20%;padding-left: 0; float: left; text-align: left;">
                                    <div style="margin: auto; width: 100%; color: steelblue; text-align: left;">
                                        <treecontrol class="tree-classic"
                                                     tree-model="dataForTheTree"
                                                     options="treeOptions"
                                                     on-selection="showSelected(node, selected, selectedNodes)"
                                                     selected-node="selectedNodes">
                                            {{node.name}}
                                        </treecontrol><br>
                                    </div>
                                </div>

                                <br>
                                <button class = "randSButton glyphicon glyphicon-repeat" ng-click="reset()" value="Reset" > Reset </button>
                                <button class="randSButton glyphicon glyphicon-floppy-saved" ng-click="submitCTConceptsForm()" value="Save" > Save </button>
                                <!--</div>-->
                                <div ng-if="error">
                                    <p style="color: red">Error: Game Must Have Unique Names</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- <md-button md-no-ink class="md-raised md-primary" ng-click="updateQuest()">Update Quest</md-button> -->

</div>
<hr/>
<h3 style = "text-align: center;" class="sub-header">Games and Objectives in this Quest</h3>
<div class="panel panel-default">
    <table style="width:100%" class="table table-striped">
        <tr>
            <th>Order</th><th>Game Description</th><th>Design</th><th>Objective</th><th>Instruction</th><th>Delete</th>
        </tr>
        <tr ng-repeat="each in assign" >
            <td>
                <select ng-model="orderSt[each.assignmentID]">
                    <option ng-repeat="x in orderSt" ng-value="{{x}}">{{x}}</option>
                </select>
            </td>
            <!--a href="file:///C:/Academia/SAGE/sage-editor-hookup_to_server/app/editor/index.html"-->
            <td>{{each.assignmentName}}</td>
            <td>
                <a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/Game"><md-button md-no-ink class="md-raised md-primary">Update</md-button></a>
            </td>
<!--            <td><a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/design"><button>Update</button>
            </a></td>-->
            <td>
                <a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/VAE"><md-button md-no-ink class="md-raised md-primary">Update</md-button></a>
            </td>
            <td>
                 <a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/Instruction"><md-button md-no-ink class="md-raised md-primary">Update</md-button></a>
            </td>
            <td>
                <md-button md-no-ink class="md-raised md-primary" ng-click="removeAssignment(assign ,each.assignmentID);"><!--<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>-->Delete</md-button>
            </td>
        </tr>
    </table>
    <div class="blank"></div>
    <a href="#/coursePage/{{sid}}/course/{{cid}}/createAssignment"><md-button style = "align-items: center; margin-left:50%; margin-right:50%;" md-no-ink class="md-raised md-primary">Create New Game</md-button></a>

    <div class="blank"></div>


    <!--

    <a href="#/coursePage/{{sid}}/course/{{cid}}/createAssignment"><h4>Create new Game</h4></a>
-->

<!--<button ng-click="updateOrder()" value="Update Order" >Update Order</button>-->
</div>
</div>