<div class="c1">
    <div><img src="/public/images/logo.png" height="60">
    </div>
    <div class="head1">
        <h2>Scratch Editor</h2>
    </div>

    <p>Instructor Id : {{iid}}</p>
    <p>Game Id : {{aid}}</p>

</div>
    <h2 class="sub-header">{{course.courseName}}</h2>

    <scratch movie="{{ movie.url }}"/>

    <!-- <object style="position: absolute; left:40px" width="90%" height="100%">
        <param name="movie" width="100%" height="100%" value="http://dev.cu-sage.org/public/sampleSWF/scratch.swf?sid=sm4241&assignmentID=123&mode=PLAY">
                <param name="movie" width="100%" height="100%" value="http://localhost:3000/public/sampleSWF/scratch.swf?sid={{sid}}&assignmentID={{assignmentID}}&mode=PLAY">
        <param name=FlashVars value="sid={{sid}}&assignmentID={{assignmentID}}&mode=PLAY"> -->
    </object> -->


