<form novalidate class="simple-form" name="courseform">
<h2>Course Creation</h2>
<br /><br />
<fieldset>
    <input type="text" name="coursename" ng-model="course.name"  placeholder="Quest Name" ng-required="true"/><br /><br />
    
    <input type="text" ng-model="course.desc"  placeholder="Quest Story" /><br /><br /><br />

    <!-- Computational Thinking Concepts: <br /><br />
    <label><input type="checkbox" ng-model="course.preference" value="Abstraction" />Abstraction</label>
    <label><input type="checkbox" ng-model="course.preference" value="Parallelism" />Parallelism</label><br />
    <label><input type="checkbox" ng-model="course.preference" value="Logical Thinking" />Logical Thinking</label>
    <label><input type="checkbox" ng-model="course.preference" value="Synchronization" />Synchronization</label><br />
    <label><input type="checkbox" ng-model="course.preference" value="Flow Control" />Flow Control </label>
    <label><input type="checkbox" ng-model="course.preference" value="User Interactivity" />User Interactivity</label><br />
    <label><input type="checkbox" ng-model="course.preference" value="Data Representation" />Data Representation</label><br />
    <br /><br /><br /><br /> -->
    <input type="text" ng-model="course.age"  placeholder="Age Group (10-12)" /><br />
    <input type="text" ng-model="course.subject"  placeholder="Subjects " /><br />
    <input type="text" ng-model="course.feat"  placeholder="Other features (separated by comma):" /><br />
    </fieldset>
    <br /><br /><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="submitForm()" value="Save" />
  </form>
  <pre>user = {{course}}</pre>
  

