<h2 class="sub-header">{{course.courseName}}</h2>
<div>
    <h3>{{course.desc}}</h3>
</div>

<h3 class="sub-header">Assignments</h3>
<div class="panel panel-default">

    <ul >

        <li ng-repeat="each in assign" >
        	
            <!--a href="file:///C:/Academia/SAGE/sage-editor-hookup_to_server/app/editor/index.html"-->
            <a href="#/coursePage/{{sid}}/course/{{cid}}/Assignment/{{each.assignmentOrder}}/id/{{each.assignmentID}}/VAE"> Assignment {{each.assignmentOrder}}
                <span class="sr-only"></span>
            </a>
        </li>
    </ul>
    
</div>

<a href="#/coursePage/{{sid}}/course/{{cid}}/createAssignment"><h4>Create new Assignment</h4>



